// Navbar style
body {
    padding-top: 3.5rem;
}

.custom-navbar {
    background-color: #ebeced;
}

// Footer style
.footer-bg {
    background-color: #f2f2f2;
}

.footer-bg-bottom {
    background-color: #ebeced;
}

// Button

$primary-color: #000;
$primary-color-contrast: #fff;
$secondary-color: #239084;
$secondary-color-contrast: #fff;

.btn-custom-primary {
    background-color: $primary-color;
    color: $primary-color-contrast;
    &.btn-outline,
    &:hover {
        background-color: #fff;
        color: $primary-color;
        border-color: $primary-color;
    }
    &.btn-outline:hover {
        background-color: $primary-color;
        color: $primary-color-contrast;
    }
}

.btn-custom-secondary {
    background-color: $secondary-color;
    color: $secondary-color-contrast;
    &.btn-outline,
    &:hover {
        background-color: #fff;
        color: $secondary-color;
        border-color: $secondary-color;
    }
    &.btn-outline:hover {
        background-color: $secondary-color;
        color: $secondary-color-contrast;
    }
}
